.hexagonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


.hexagonContainer {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  transform: skew(0deg, 0deg);
}

.hexagonOuter {
  margin-top: -4.33vw;
  transition: all 0.7s;
  -webkit-clip-path: polygon(0 25%,
      50% 0,
      100% 25%,
      100% 75%,
      50% 100%,
      0 75%);
  clip-path: polygon(0 25%,
      50% 0,
      100% 25%,
      100% 75%,
      50% 100%,
      0 75%);
  width: 15vw;
  height: 17.32vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
}



.hexagonOuterHover:hover {
  transform: scale(1.6);
  z-index: 50;
  background-color: #6698ac;
}


.hexagonOuter:nth-child(-n + 5) {
  margin-top: 0;
}

.hexagonOuter:nth-child(9n + 6) {
  margin-left: 7.5vw;
}




.hexagonInner {
  background-color: #357A98;
  color: #ffffff;
  -webkit-clip-path: polygon(0 25%,
      50% 0,
      100% 25%,
      100% 75%,
      50% 100%,
      0 75%);
  clip-path: polygon(0 25%,
      50% 0,
      100% 25%,
      100% 75%,
      50% 100%,
      0 75%);
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.blank {
  background-color: #BFDAE5;
}


.hexagonContent {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 65%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hexagonContent p {
  
  overflow: hidden;
}




@media (max-width: 900px) {

  .hexagonContainer {
    width: 60vw;
  }

  /* reset */
  .hexagonOuter:nth-child(-n + 5) {
    margin-top: -4.33vw;
  }

  /* reset */
  .hexagonOuter:nth-child(9n + 6) {
    margin-left: 0;
  }

  .hexagonOuter:nth-child(-n + 4) {
    margin-top: 0;
  }

  .hexagonOuter:nth-child(7n + 5) {
    margin-left: 7.5vw;
  }
}

@media (max-width: 700px) {


  .hexagonContainer {
    width: 45vw;
  }

  /* reset */
  .hexagonOuter:nth-child(-n + 4) {
    margin-top: -4.33vw;
  }

  /* reset */
  .hexagonOuter:nth-child(7n + 5) {
    margin-left: 0;
  }

  .hexagonOuter:nth-child(-n + 3) {
    margin-top: 0;
  }

  .hexagonOuter:nth-child(5n + 4) {
    margin-left: 7.5vw;
  }
}

@media (max-width: 500px) {

  .hexagonContainer {
    width: 30vw;
  }

  /* reset */
  .hexagonOuter:nth-child(-n + 3) {
    margin-top: -4.33vw;
  }

  /* reset */
  .hexagonOuter:nth-child(5n + 4) {
    margin-left: 0;
  }

  .hexagonOuter:nth-child(-n + 2) {
    margin-top: 0;
  }

  .hexagonOuter:nth-child(3n + 3) {
    margin-left: 7.5vw;
  }
}